@page "/"

<PageTitle>Home</PageTitle>
<div>
    <h3 class="text-center">Game Environment</h3>
    <Button @onclick="StartGame" style="background-color: green;">Debug</Button>

    <div class="grid-container">
        <div class="wall top-wall"></div>
        <div class="wall side-wall-left"></div>
        <div class="wall side-wall-right"></div>


        @for (int i = 0; i < 100; i++)
        {
            <SimpleBrick />
        }
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <div class="container">

       @*  <Ball /> *@
       <div  class="test-ball" style="top: @(X)px; left: @(Y)px"></div>
        
        <Bat/>
    </div>

</div>

@code{
    private int X { get; set; }
    private int Y { get; set; }
    private const int SPEED = 3;
    private Timer _timer;

    void ClickMe()
    {
        Console.WriteLine("I was clicked!");
    }

    void ShowInfo()
    {
        Console.WriteLine($"{X}px and {Y}px");
    }

    async Task StartGame()
    {
        while(true)
        {
            X -= 5;
            Console.WriteLine($"{X}px and {Y}px");
            StateHasChanged();

            await Task.Delay(100);
        }
    }
    
    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    private void HandelKeyRight()
    {
        
    }

    private void HandleKeyLeft()
    {

    }
}